.tech-section {
    background-color: '#0f1923';
}

.tech-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 45px;
    padding: 30px;
}

.tech-svg-icon {
  width: 300px;
  height: 300px;
  /* Если иконки черные, можно сделать их белыми программно: */
}

/* .tech-description */

.Tech-container {
    width: 300px;
    height: 400px;
}

.Tech-description {
    text-align: center;
    color: var(--darkreader-text-eeeeee, #f3f3f3);
    text-decoration-color: initial;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.5;
}